 body{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: monospace;
 }

 #calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 800px;
    background-color:cadetblue;
    border-style: solid;
    border-color: darkgreen;
    padding: 1%;
 }

 #calc-display {
    width:94%;   
    height: 15%;
    display: flex;
    border-style: solid;
    border-radius: 5%;
    border-width: 5px;
    background-color:bisque;
    justify-content:end;
    align-items: center;
    font-size: 600%;   
    padding: 3%;
 }

 #calc-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
 }

 button{
    display: flex;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 4%;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-weight: 900;
 }

 .row {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-block: 2px;
    width: 100%;
    height: 100%;
 }

 .clear{
    width: 208%;
 }

 .operand {
    background-color:royalblue;
    color: white;
 }

 .operator, .clear, .decimal, .equals {
    background-color:darkgreen;
    color: white;
 }